/* TODO:
simplify/consolidate style classes
*/

@font-face {
    font-family: karmafuture;
    src: url('fonts/karmafuture.ttf'),
         url('fonts/karmafuture.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: karmasuture;
    src: url('fonts/karmasuture.ttf'),
         url('fonts/karmasuture.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: PixelifySans;
    src: url('fonts/PixelifySans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
 /* Color hex codes */
:root {
  --red: #fc3636;
  --green: #3feb4e;
  --blue: #35a3fc;
  --yellow: #fff200;
  --cyan: #36fcfc;
  --lavender: #9c90fd;
  --pumpkin: #fc9936;
  --violet: #ca36fc;
  --purple: #6836fc;
  --pink: #eb90fd;
  --navy: #3668fc;
  --orange: #fc6836;
  --grey: rgb(240,240,240);
}

html {
  background: url('imgs/pink_grid.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* filter: grayscale(1);  TODO: implement gray scale effect on opening leaderboard, like game state paused */
}

.title_text {
  position: relative;
  font-family: PixelifySans;
  text-align: center;
  user-select: none;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
#title {
  color: #cc87b0;
  margin-bottom: 0;
  font-size: clamp(2rem, 8vw, 6rem);
}
#subtitle {
  /*color: grey;*/
  font-size: clamp(1rem, 2.5vw, 3rem);
}

#stats {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vw;
  width: 75%;
}

#headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  margin-top: 4vw;
  margin-bottom: 1vw;
  margin-left: auto;
  margin-right: auto;
  width: 75%;

  color: white;
  font-size: clamp(0.5rem, 2vw, 4rem);
}
.usrid-container {
  padding-left: 25px;
  font-family: karmasuture;
}
#usridText {
  font-size: clamp(0.5rem, 2vw, 4rem);
}
.usrid {
  width: 5vw;
}
.current-scores-container {
  width: 35%;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: karmasuture;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 0.25vw solid black;
  border-radius: 8px;
  position: relative;
  margin-bottom: 3vw;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 5svh;
  /*background-color: #949494;*/
  background-color: black;
}
.toolbutton-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
  width: 32%;
}
.toolbutton {
  font-family: karmasuture;
  border: none;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  /*width: 5vw;*/
  height: 100%;
  margin: 0.25vw 1.5vw;
  font-size: clamp(0.8rem, 1.5vw, 2rem);
  color: white;
  cursor: pointer;
}
.toolbutton > img {
  height: 100%;
  width: auto;
}

.gamemode-select-modal-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: rgb(0,0,0,0.4);
  z-index: 2;
}
#gamemode-select-modal {
  padding: 3vw;
  margin-top: 25svh;
  font-family: karmasuture;
  font-size: clamp(0.8rem, 1.5vw, 3rem);
  max-width: 50%;
  border-radius: 8px;
  background: var(--grey);
}

.leaderboard-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: rgb(0,0,0,0.4);
  z-index: 2;
}
#leaderboard {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
  border: 0.25vw solid black;
  border-radius: 8px;
  /*margin: 1vw auto;*/
  margin-top: 25svh;
  padding: 4vw;
  width: 50%;
  /*height: clamp(300px, 50svh, 600px);*/
  max-height: 600px;
  background-color: var(--grey);
}
#scores-list {
  margin-top: 3svh;
}

.menu-modal-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: rgb(0,0,0,0.4);
  z-index: 2;
}
#menu-modal {
  padding: 3vw;
  margin-top: 25svh;
  font-family: karmasuture;
  font-size: clamp(0.8rem, 1.5vw, 3rem);
  max-width: 50%;
  border-radius: 8px;
  background: var(--grey);
}
#statsBox {
  width: 90%;
}
#hotBox {
  width: 90%;
}
.hotkeysBox.text {
  font-size: clamp(0.8rem, 1.5vw, 3rem);
  width: 2vw;
  text-align: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gamecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 8px;
  position: relative;
  margin-bottom: 3vw;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  height: 50svh;
  background: rgb(0,0,0,0.2);
  /*padding: 20px 0;*/
}
#button-container {
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;*/
  background: black;
  padding-top: 10px;
  border-radius: 8px;
}      /* NOTE: 100% default for linear layout, 40% for square */
.gamebutton {
  /*display: inline-block;*/
  border: none;
  border-radius: 8px;
  width: 16vw;
  height: 16vw;
  margin: 5px;
  color: black;
  opacity: 0.5;
  filter: saturate(100%);
  font-size: clamp(1rem, 5vw, 4rem);
  cursor: pointer;
}


.leaderboard-text {
  font-family: karmasuture;
  font-size: clamp(1rem, 2vw, 4rem);
}

/* Make text, like the title, non-highlightable. */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}
/* Default state for more than 4 buttons */
.hidden {
  display: none;
}

.floatR {
  float: right;
}

.white {
  filter: invert(100%) sepia(6%) saturate(7500%) hue-rotate(265deg) brightness(108%) contrast(109%);
}

.filterGrayscale {
  filter: grayscale(1);
}

#red.gamebutton {
  background-color: var(--red);
  /*background: url('imgs/gradient1.png') no-repeat;
  background-size: contain;*/
}
#green.gamebutton {
  background-color: var(--green);
  /*background: url('imgs/gradient2.png') no-repeat;
  background-size: contain;*/
}
#blue.gamebutton {
  background-color: var(--blue);
  /*background: url('imgs/gradient3.png') no-repeat;
  background-size: contain;*/
}
#yellow.gamebutton {
  background-color: var(--yellow);
  /*background: url('imgs/gradient4.png') no-repeat;
  background-size: contain;*/
}

#cyan.gamebutton {background-color: var(--cyan);}
#lavender.gamebutton {background-color: var(--lavender);}
#pumpkin.gamebutton {background-color: var(--pumpkin);}
#violet.gamebutton {background-color: var(--violet);}

#purple.gamebutton {background-color: var(--purple);}
#pink.gamebutton {background-color: var(--pink);}
#navy.gamebutton {background-color: var(--navy);}
#orange.gamebutton {background-color: var(--orange);}

.otherbutton {
  font-family: karmasuture;
  border: 0.25vw solid black;
  border-radius: 4px;
  font-size: clamp(0.8rem, 1.5vw, 3rem);
  width: clamp(80px, 8vw, 160px);
  height: clamp(25px, 3.5vw, 50px);
  color: white;
  opacity: 1.0;
  background-color: #808080;
  cursor: pointer;
}

#help.otherbutton {
  width: 3vw;
}
#hotkeysButton.otherbutton {
  width: 12vw;
}
#statsButton.otherbutton {
  width: 14vw;
}

.headertool {
  margin: 0 0;
  width: 3vw;
  height: 3vw;
}

#muteButton {
  background-image: url("icons/mute_black.svg");
}
#unmuteButton {
  background-image: url("icons/unmute_black.svg");
}
#saveOnButton {
  background-image: url("icons/save_on.png");
}
#saveOffButton {
  background-image: url("icons/save_off.png");
  width: 4.7vw;
  height: 4.7vw;
  margin: -0.75vw -0.85vw;
}

#start {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 6px;
  background-color: #5cb8d6;
  width: fit-content;
  padding: 1vw;
}
#gamemode-select-button {
  font-size: clamp(0.8rem, 3vw, 2rem);
}
/*
#rankButton {
  background-image: url("icons/podium_minimal.svg");
}
#linLayout {
  background-image: url("icons/lines_sharp.svg");
}
#sqLayout {
  background-image: url("icons/squares_filled.svg");;
}
#subButton {
  background-image: url("icons/minus.svg");
}
#addButton {
  background-image: url("icons/plus.svg");
}
#menuButton {
  background-image: url("icons/lines_sharp.svg");
}
*/
